* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.header,
.main,
.footer {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 2;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 1300px) {
  html {
    font-size: 80%;
  }
}

body {
  background-color: #1e1e21;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  text-align: justify;
}

body .blur {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  min-height: 100vh;
}

body a {
  font-family: "Poppins";
  color: #e1e1de;
  text-decoration: none;
}

body h1 {
  font-family: "Poppins";
  color: #e1e1de;
}

body h2 {
  font-family: "Poppins";
  color: #e1e1de;
}

body h3 {
  font-family: "Poppins";
  color: #e1e1de;
}

body p {
  font-family: "Poppins";
  color: #e1e1de;
}

.header {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4.3rem;
  padding-right: 4.3rem;
  padding-left: 4.3rem;
  max-width: 50vw;
}

.header .__header-container {
  max-width: 12vw;
}

.header .__header-logo-link {
  line-height: 1;
  font-weight: 300;
  padding-bottom: calc(2 * 1.563rem);
}

.header .__dot-tk {
  color: #e44d26;
}

@media only screen and (max-width: 900px) {
  .header {
    max-width: 70vw;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    max-width: 90vw;
  }
}

.main {
  max-width: 50vw;
  padding-left: 4.3rem;
  padding-bottom: 4.3rem;
  padding-right: 4.3rem;
}

.main .__card {
  background-color: rgba(30, 30, 33, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .__card .__main-header {
  color: #e1e1de;
  line-height: 1;
  padding-bottom: calc(2 * 1.563rem);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main .__card .__main-header .htmlcolor {
  color: #e44d26;
}

.main .__card .__main-header .csscolor {
  color: #254cdd;
}

.main .__card .__main-header .sasscolor {
  color: #c76494;
}

.main .__card .__main-header .jscolor {
  color: #efd81d;
}

.main .__card .__main-header .reactcolor {
  color: #61dafb;
}

.main .__card .__main-header .nextjscolor {
  color: white;
}

.main .__card .__main-header .matuaicolor {
  color: #e44d26;
}

.main .__card .__welcome {
  color: rgba(225, 225, 222, 0.7);
  font-size: 2.074rem;
  padding-bottom: calc(2 * 1.563rem);
  font-weight: 300;
  text-align: center;
}

.main .__card .__list {
  padding-left: 4%;
  font-size: 2.488rem;
  font-weight: 300;
}

.main .__card .__list .astronaut {
  width: 7rem;
  margin-right: 1.953rem;
}

.main .__card .__list .myname {
  font-weight: 700;
}

.main .__card .__list .web {
  width: 8rem;
  margin-right: 1.953rem;
}

.main .__card .__list .alien {
  width: 5rem;
  margin-right: 1.953rem;
}

@media only screen and (max-width: 600px) {
  .main .__card .__list .astronaut {
    width: calc(1.5 * 8rem);
  }
  .main .__card .__list .web {
    width: calc(1.5 * 8rem);
  }
  .main .__card .__list .alien {
    width: calc(1.5 * 5rem);
  }
}

.main .__card .__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.main .__card .__list #icdi-link {
  font-weight: 700;
}

.main .__card .__list li:nth-child(1),
.main .__card .__list li:nth-child(2) {
  margin-bottom: 1.563rem;
}

.main .__card .__question {
  color: rgba(225, 225, 222, 0.7);
  font-size: 2.074rem;
  padding-top: calc(2 * 1.563rem);
  font-weight: 300;
}

.main .__card .__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.563rem;
}

.main .__card .__mail svg {
  height: 2.441rem;
  margin-right: 1rem;
}

.main .__card .__mail svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main .__card .__mail span {
  font-size: 2.074rem;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #e44d26;
}

.main .__card .__mail:hover svg {
  color: #e1e1de;
}

.main .__card .__mail:hover svg path {
  fill: #e1e1de;
}

.main .__card .__mail:hover span {
  color: #e1e1de;
}

@media only screen and (max-width: 900px) {
  .main {
    max-width: 70vw;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    max-width: 100vw;
  }
}

.container {
  max-width: 16.66vw;
}

#surfer {
  position: absolute;
  width: 20vw;
  right: 0;
  bottom: 0;
}

.tech {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.htmlsvg {
  position: relative;
  height: 15vh;
  margin-top: 1.66vh;
  margin-bottom: 1.66vh;
  z-index: 1;
}

.csssvg {
  position: relative;
  height: 15vh;
  margin-bottom: 1.66vh;
  z-index: 1;
}

.sasssvg {
  position: relative;
  height: 15vh;
  margin-bottom: 1.66vh;
  z-index: 1;
}

.jssvg {
  position: relative;
  height: 15vh;
  margin-bottom: 1.66vh;
  z-index: 1;
}

.reactsvg {
  position: relative;
  height: 15vh;
  margin-bottom: 1.66vh;
  z-index: 1;
}

.nextjssvg {
  position: relative;
  height: 15vh;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .footer {
    height: 100vh;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
  #surfer {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */