@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: PoppinsB;
  src: url(fonts/Poppins-ExtraBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.header,
.main,
.footer {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 2;
  -webkit-box-shadow: 0 0 30px rgba(30, 30, 33, 0.6);
          box-shadow: 0 0 30px rgba(30, 30, 33, 0.6);
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 1300px) {
  html {
    font-size: 80%;
  }
}

body {
  background-color: #1e1e21;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

body .blur {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  min-height: 100vh;
}

body a {
  font-family: "Poppins";
  color: #e1e1de;
  text-decoration: none;
}

body h1 {
  font-family: "Poppins";
  color: #e1e1de;
}

body h2 {
  font-family: "Poppins";
  color: #e1e1de;
}

body h3 {
  font-family: "Poppins";
  color: #e1e1de;
}

body p {
  font-family: "Poppins";
  color: #e1e1de;
}

.header {
  border-right: 2px solid #1e1e21;
  background-color: rgba(30, 30, 33, 0.6);
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4.3rem;
  padding-right: 4.3rem;
  padding-left: 4.3rem;
  max-width: 50vw;
}

.header .__header-container {
  max-width: 12vw;
}

@media only screen and (max-width: 600px) {
  .header .__header-container {
    max-width: 25vw;
  }
}

.header .__header-logo-link {
  line-height: 1;
  font-weight: 300;
  padding-bottom: calc(2 * 1.563rem);
}

.header .__dot-tk {
  color: #e44d26;
  text-shadow: 0px 0px 8px rgba(238, 87, 48, 0.6);
}

@media only screen and (max-width: 900px) {
  .header {
    max-width: 70vw;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    max-width: 100vw;
  }
}

.main {
  border-right: 2px solid #1e1e21;
  background-color: rgba(30, 30, 33, 0.6);
  max-width: 50vw;
  padding-left: 4.3rem;
  padding-bottom: 4.3rem;
  padding-right: 4.3rem;
}

.main .__card {
  background-color: rgba(30, 30, 33, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .__card .__main-header {
  color: #e1e1de;
  line-height: 1;
  padding-bottom: calc(2 * 1.563rem);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "PoppinsB", sans-serif;
}

.main .__card .__main-header .htmlcolor {
  color: #e44d26;
  text-shadow: 0px 0px 8px rgba(238, 87, 48, 0.6);
}

.main .__card .__main-header .csscolor {
  color: #2965f1;
  text-shadow: 0px 0px 8px rgba(51, 111, 251, 0.6);
}

.main .__card .__main-header .sasscolor {
  color: #c76494;
  text-shadow: 0px 0px 8px rgba(209, 110, 158, 0.6);
}

.main .__card .__main-header .jscolor {
  color: #efd81d;
  text-shadow: 0px 0px 8px rgba(249, 226, 39, 0.6);
}

.main .__card .__main-header .reactcolor {
  color: #61dafb;
  text-shadow: 0px 0px 8px rgba(107, 228, 251, 0.6);
}

.main .__card .__main-header .nextjscolor {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
}

.main .__card .__main-header .matuaicolor {
  color: #e44d26;
  text-shadow: 0px 0px 8px rgba(238, 87, 48, 0.6);
}

.main .__card #hwelcome {
  color: #efd81d;
  padding-bottom: calc(2 * 1.563rem);
  font-weight: 300;
  text-transform: uppercase;
  text-shadow: 0px 0px 12px rgba(249, 226, 39, 0.6);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main .__card .__list {
  font-size: 2.488rem;
  font-weight: 300;
}

.main .__card .__list .astronaut {
  height: 2.488rem;
  margin-bottom: 0.6rem;
  display: inline;
  vertical-align: bottom;
}

.main .__card .__list .myname {
  font-family: "PoppinsB", sans-serif;
  color: #2965f1;
}

.main .__card .__list .web {
  height: 2.488rem;
  margin-bottom: 0.6rem;
  display: inline-block;
  vertical-align: bottom;
}

.main .__card .__list .alien {
  height: 2.488rem;
  margin-bottom: 0.6rem;
  display: inline-block;
  vertical-align: bottom;
}

.main .__card .__list .keycap {
  height: 2.488rem;
  margin-bottom: 0.6rem;
  display: inline-block;
  vertical-align: bottom;
}

@media only screen and (max-width: 600px) {
  .main .__card .__list .astronaut {
    height: 2.488rem;
    margin-bottom: 0.6rem;
    display: inline-block;
    vertical-align: bottom;
  }
  .main .__card .__list .web {
    height: 2.488rem;
    margin-bottom: 0.6rem;
    display: inline-block;
    vertical-align: bottom;
  }
  .main .__card .__list .alien {
    height: 2.488rem;
    margin-bottom: 0.6rem;
    display: inline-block;
    vertical-align: bottom;
  }
}

.main .__card .__list #glarses {
  vertical-align: middle;
  display: inline-block;
  height: 5rem;
}

.main .__card .__list li {
  list-style-type: none;
}

.main .__card .__list #icdi-link {
  font-family: "PoppinsB", sans-serif;
  color: #2965f1;
}

.main .__card .__list li:nth-child(1),
.main .__card .__list li:nth-child(2),
.main .__card .__list li:nth-child(3) {
  margin-bottom: 2.074rem;
}

.main .__card .__question {
  color: #c76494;
  font-size: 2.986rem;
  padding-top: calc(2 * 1.563rem);
  font-family: "PoppinsB", sans-serif;
}

.main .__card .__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.563rem;
}

.main .__card .__mail svg {
  height: 2.441rem;
  margin-right: 1rem;
}

.main .__card .__mail svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main .__card .__mail span {
  display: inline-block;
  font-size: 2.074rem;
  font-family: "PoppinsB", sans-serif;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #e44d26;
}

.main .__card .__mail:hover svg {
  color: #e1e1de;
}

.main .__card .__mail:hover svg path {
  fill: #e1e1de;
}

.main .__card .__mail:hover span {
  color: #e1e1de;
}

@media only screen and (max-width: 900px) {
  .main {
    max-width: 70vw;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    max-width: 100vw;
  }
}

.container {
  max-width: 16.66vw;
}

#surfer {
  position: fixed;
  width: 25vw;
  right: 0;
  bottom: 0;
  z-index: 2;
}

#surfer2 {
  display: none;
}

@media only screen and (max-width: 600px) {
  #surfer2 {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 70vw;
    margin-top: 4.3rem;
  }
}

.tech {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .tech {
    width: 20rem;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: calc(70vw - 10rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #surfer {
    position: fixed;
    width: 17vw;
    right: 0;
    bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .tech {
    width: 100vw;
    left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.htmlsvg {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  position: relative;
  height: 17.6vh;
  margin-bottom: 2vh;
  z-index: 1;
}

.csssvg {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  position: relative;
  height: 17.6vh;
  margin-bottom: 2vh;
  z-index: 1;
}

.sasssvg {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  position: relative;
  height: 17.6vh;
  margin-bottom: 2vh;
  z-index: 1;
}

.jssvg {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  position: relative;
  height: 17.6vh;
  margin-bottom: 2vh;
  z-index: 1;
}

.reactsvg {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  height: 17.6vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .footer {
    height: 100vh;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
  #surfer {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */