* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 1px solid white; */
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

h1,
h2,
h3,
span,
li,
p,
a {
  font-family: "Cabin", sans-serif;
}

.header {
  position: fixed;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.header a {
  text-decoration: none;
  line-height: 1;
}

.inner {
  color: #dfdedb;
}

.main-logo {
  font-size: 3.583rem;
  font-weight: bold;
  color: rgb(230, 0, 18);
  margin: 2.074rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background-color: rgb(32, 33, 36);
}

main .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

main h1 {
  font-size: 4.3rem;
  color: #dfdedb;
  margin-bottom: 3.583rem;
}

main p {
  font-size: 2.074rem;
  color: rgba(223, 222, 219, 0.7);
  max-width: 55vw;
  font-weight: normal;
}

main ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 45vw;
  margin-left: 3rem;
}

main li {
  font-size: 2.488rem;
  color: rgba(223, 222, 219, 0.7);
  font-weight: normal;
}

main li:nth-child(1) {
  margin-bottom: 1rem;
}

main p:nth-child(1) {
  margin-bottom: 2.488rem;
}

main p:nth-child(3) {
  margin-top: 2.488rem;
  margin-bottom: 3.583rem;
}

@media only screen and (max-width: 900px) {
  main p {
    max-width: 80vw;
  }

  main ul {
    max-width: 75vw;
  }
}

main a {
  font-size: 2.488rem;
  color: #dfdedb;
  max-width: 50vw;

  text-decoration: none;
  font-weight: bold;
}

main .name {
  color: #dfdedb;
}

main .html {
  color: rgb(241, 101, 41);
}

main .sass {
  color: rgb(206, 103, 154);
}

main .js {
  color: rgb(247, 224, 24);
}

main .react {
  color: rgb(74, 213, 255);
}

main .nextjs {
  color: rgb(234, 234, 234);
}

.mailto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mailto a,
.mailto svg path {
  transition: all 0.15s ease-in-out;
}

.mailto:hover a {
  color: rgb(230, 0, 18);
}

.mailto:hover svg path {
  fill: #e60012;
}

.mailto svg {
  height: 2.074rem;
  margin-right: 1.2rem;
}
